<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/ticket-history.css">
  <title>뚝딱파킹</title>

</head>
<body>
<div class="header">
  <div>뚝딱파킹 🚗</div>
  <img src="../image/person.svg" alt="User Icon">
</div>
<div class="main">
  <div class="pre-arrow">
    <img src="../image/arrow-left-short.svg"/>
  </div>
  <div class="title">사용했던 주차권이에요</div>
  <div class="card">
    <div class="parking-info">
      <div class="parking-name">강남 주차장</div>
      <div class="car-num-space">
        <img src="../image/car-front-fill.svg"/>
        <p class="car-num">123가 4568</p>
      </div>
    </div>
    <div class="parking-time-info">
      <img src="../image/clock-fill.svg"/>
      <p>2024년 12월 19일 오후 8시 50분 ~ 오후 11시 50분</p>
    </div>
    <div class="parking-fee">
      <img src="../image/korean-won-svgrepo-com.svg"/>
      <p>1일 5천원</p>
    </div>
    <div class="details-button">
      <a>상세 정보 확인 하기></a>
    </div>
  </div>
  <div class="card">
    <div class="parking-info">
      <div class="parking-name">서초 주차장</div>
      <div class="car-num-space">
        <img src="../image/car-front-fill.svg"/>
        <p class="car-num">123가 4568</p>
      </div>
    </div>
    <div class="parking-time-info">
      <img src="../image/clock-fill.svg"/>
      <p>2024년 12월 18일 오후 2시 40분 ~ 오후 3시 40분</p>
    </div>
    <div class="parking-fee">
      <img src="../image/korean-won-svgrepo-com.svg"/>
      <p>3천원</p>
    </div>
    <div class="details-button">
      <a>상세 정보 확인 하기></a>
    </div>
  </div>
  <div class="card">
    <div class="parking-info">
      <div class="parking-name">마포 주차장</div>
      <div class="car-num-space">
        <img src="../image/car-front-fill.svg"/>
        <p class="car-num">123가 4568</p>
      </div>
    </div>
    <div class="parking-time-info">
      <img src="../image/clock-fill.svg"/>
      <p>2024년 11월 13일 오후 1시 18분 ~ 오후 5시 1분</p>
    </div>
    <div class="parking-fee">
      <img src="../image/korean-won-svgrepo-com.svg"/>
      <p>3천원</p>
    </div>
    <div class="details-button">
      <a>상세 정보 확인 하기></a>
    </div>
  </div>
  <div class="card">
    <div class="parking-info">
      <div class="parking-name">신림 주차장</div>
      <div class="car-num-space">
        <img src="../image/car-front-fill.svg"/>
        <p class="car-num">123가 4568</p>
      </div>
    </div>
    <div class="parking-time-info">
      <img src="../image/clock-fill.svg"/>
      <p>2024년 10월 13일 오전 11시 27분 ~ 오후 5시 41분</p>
    </div>
    <div class="parking-fee">
      <img src="../image/korean-won-svgrepo-com.svg"/>
      <p>2천 5백원</p>
    </div>
    <div class="details-button">
      <a>상세 정보 확인 하기></a>
    </div>
  </div>
</div>
</body>
</html>