<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/ticket-order-detail.css">
  <title>뚝딱파킹</title>

</head>
<body>
  <div class="header">
    <div>뚝딱파킹 🚗</div>
    <img src="../image/person.svg" alt="User Icon">
  </div>
  <div class="main">
    <div class="pre-arrow">
        <img src="../image/arrow-left-short.svg"/>
    </div>
    <div class="card">
      <div class="parking-info">
        <div class="parking-name">강남 주차장</div>
        <div class="car-num-space">
          <img src="../image/car-front-fill.svg"/>
          <p class="car-num">123가 4568</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <img src="../image/geo-alt-fill.svg">
        <p class="parking-info-detail">서울시 강남구 테헤란로 123</p>
      </div>
      <div>
        <p class="enter-exit"><strong>입</strong></p>
        <p class="parking-info-detail">2024년 12월 19일 오후 8시 40분</p>
      </div>
      <div>
        <p class="enter-exit"><strong>출</strong></p>
        <p class="parking-info-detail">2024년 12월 19일 오후 11시 40분</p>
      </div>
    </div>
    <div class="card">
      <div class="fee-info">
        <p class="time-fee">기본 시간</p>
        <p class="time-fee">1시간</p>
      </div>
      <div class="fee-info">
        <p class="time-fee">기본 이용료</p>
        <p class="time-fee">3천원</p>
      </div>
      <div class="fee-info">
        <p class="time-fee">추가 시간</p>
        <p class="time-fee">2시간</p>
      </div>
      <div class="fee-info">
        <p class="time-fee">추가 이용료</p>
        <p class="time-fee">8천원</p>
      </div>
      <hr>
      <div class="total-fee-info">
        <p class="total-fee">총 이용료</p>
        <p class="total-fee">1만 1천원</p>
      </div>
    </div>
  </div>
</body>
</html>